<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.serviceModel>
    <client>
      <endpoint address="http://localhost:4444/Services"
                behaviorConfiguration=""
                contract=""
    </client>
  </system.serviceModel>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IContactService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4444/Services" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IContactService" contract="ContactServiceReference.IContactService"
                name="BasicHttpBinding_IContactService" />
        </client>
    </system.serviceModel>
</configuration>