<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Contacts.DistributedContext.ContactService">
        <endpoint address="" binding="basicHttpBinding" contract="Contacts.DistributedContext.IContactService">          
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4444/Services"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
